<div class="card">
  <div class="card-body">
    <p>
      <em class="card-title">
        "<%= comment.body %>"
      </em>
    </p>
    <p>by <span class="text-primary"><%= comment.creator.username %></span>
      at <%= comment.created_at.to_formatted_s(:month_day_year) %>
    </p>
  </div>
</div>