<% if obj.errors.any? %>
  <div class="alert-danger p-2">
    <h4>Your form had some errors</h4>
    <ul>
      <% obj.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
