<%= render @post.categories %>
<%= render 'shared/content_title', title: @post.title %>
<hr />
<div class="row">
  <p><%= @post.description %></p>
  <%= link_to 'edit', edit_post_path(@post) %>
</div>
